<div>
    <h1><%- title %></h1>
    <i><%- messages() %></i>
</div>
<div>
    <div class="manager">
        <a href="/inv/add-classification">Add New Classification</a><br>
        <a href="/inv/add-inventory">Add New Inventory</a>

        <h2>Manage Inventory</h2>
        <p>Choose a classification to see the items</p>        
    </div>
</div>